<div class="card">
  <div class="card-header  mb-3">
    <h2>Specification</h2>
  </div>

  <div class="container">
    <div class ="row justify-content-center ">
      <div class="col">
        <form #addSpec="ngForm" (ngSubmit)="onSubmit(addSpec)">
          <div class="form-floating mb-4">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="name"
              ngModel
              name=name>
          </div>
          <div class="form-floating mb-4">
            <label for="floatingInput2">Number of repetitions</label>
            <input
              type="number"
              class="form-control"
              id="floatingInput2"
              placeholder="number_of_rep"
              ngModel
              name=paramInt1>

          </div>
          <div class="form-floating mb-4">
            <label for="floatingInput3">Key</label>
            <input
              type="text"
              class="form-control"
              id="floatingInput3"
              placeholder="name"
              ngModel
              name=paramStr2>

          </div>
          <div class="form-floating mb-4">
            <label for="floatingTextarea2">Description</label>
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
              ngModel
              name=paramStr3>
            </textarea>

          </div>
              <button class="btn btn-primary" type="submit">Add</button>
        </form>

<!--        <div class="form-floating mb-4">-->
<!--          <input type="text" class="form-control" id="floatingInput1" placeholder="name">-->
<!--          <label for="floatingInput1">Name</label>-->
<!--        </div>-->
<!--        <div class="form-floating mb-4">-->
<!--          <input type="number" class="form-control" id="floatingInput2" placeholder="number_of_rep">-->
<!--          <label for="floatingInput2">Number of repetitions</label>-->
<!--        </div>-->
<!--        <div class="form-floating mb-4">-->
<!--          <input type="text" class="form-control" id="floatingInput3" placeholder="name">-->
<!--          <label for="floatingInput3">Name...</label>-->
<!--        </div>-->
<!--        <div class="form-floating mb-4">-->
<!--          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>-->
<!--          <label for="floatingTextarea2">Description</label>-->
<!--        </div>-->
<!--        <div class="button mb-4">-->
<!--          <div class="d-grid gap-2 col-6 mx-auto">-->
<!--            <button class="btn btn-primary" type="button">Add</button>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
