<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Test center</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/spec/add">Add Specification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/spec/list">Specification List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/test/add">Add Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/test/list">Tests List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/group/add">Add Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/group/list">Group List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/scenario/add">Add Scenario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/scenario/list">Scenario List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/results">Results</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
