table {
  margin-top: 0;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

.chart {
  margin-right: auto;
  max-width: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.select-option {
  max-height: 2rem;
}

