/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: rgb(2, 0, 36);
  background-image: url("https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-stained-glass-free-website-background-image.jpg");
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*:host(.active) {
    border-width: 100px;
  }*/
.card {
  max-width: 40%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 25px;
  border: 2px;
  box-shadow: -1px 3px 15px 1px #000000;
}

p {
  color: rgb(28, 28, 29)
}

h1 {
  font-family: 'Lato', sans-serif;
}
